html {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
h1 {
  color: #EC5D57;
  text-align: center;
}

body {
  width: 400px;
  margin: 0 auto;
}

input, select {
  width: 100%;
}

input {
  height: 2rem;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 1rem;
}

label{
  font-size: 0.8rem;
  font-weight:bolder;
  line-height: 1.5rem;
}

select {
  height: 2rem;
  border: 1px solid;
  border-radius:5px;
}

div#submit {
  text-align: right;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: #EC5D57;
  color: white;
  border: none;
  border-radius: 15px;
  margin-top: 0.5rem;
  height: 2rem;
  max-width: 70px;
}
