.container {
  width: 800px
}

.row {
  display: flex;
}

.column-third {
  flex-basis: calc(100%/3);
}

.column-fourth {
  flex-basis: calc(100%/4)
}

.column-two-third {
  flex-basis: calc(100%*2/3)
}

img {
  max-width: 100%;
  max-height: 100%;
}
