button {
    background-color:white;
    height: 50px;
    width: 150px;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(2n+2) {
  background-color: rgb(197, 197, 197);
}
