.toggle-button {
  width: 12rem;
  height: 6rem;
  border-radius: 3rem;
  border: 5px solid black;
}

.on {
  border: 5px solid black;
  background-color: #6aa84f;
  display: flex;
  justify-content: flex-end;
}

.off {
  border: 5px solid black;
  background-color: #e2e2e2;
  display: flex;
  justify-content: flex-start;
}

.circle {
  background-color: white;
  border-radius: 100%;
  border: 5px solid black;
  height: 100%;
  width: 50%;
}

h1 {
  margin: 0 0 1rem 5rem;
}
